.form-label {
  font-weight: bold;
}

.switchselector-category {
  height: 2.5rem;
}

.quantity-buttons {
  width: 100%;
  margin-top: 5px;
}

.floating-add {
  right: 30px;
  bottom: 30px;
  position: fixed;
}

.floating-add button {
  padding: 0.6rem 1.5rem;
  border-radius: 6rem;
  font-size: 2rem;
}

.additem__image-preview {
  max-width: 300px;
  max-height: 200px;
  margin-top: 1rem;
  opacity: 0;
}

.additem__image-preview.preview-shown {
  opacity: 1;
}
