.complex-swipeable-list__item {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
  flex: 1;
  display: flex;
  min-width: 0;
  user-select: none;
  cursor: pointer;
}

.complex-swipeable-list__item-image-container {
  width: 225px;
  height: 150px;
  display: flex;
  flex-direction: row;
}

.complex-swipeable-list__item-image-margin {
  display: flex;
  flex: 1 1 auto;
}

.complex-swipeable-list__item-image {
  display: flex;
  flex: 0 0 auto;
  -webkit-user-select: none;
  pointer-events: none;
}

.complex-swipeable-list__item-count-container {
  display: flex;
  align-items: center;
}

.complex-swipeable-list__item-count {
  width: 225px;
  text-align: center;
  font-size: 22px;
}

.complex-swipeable-list__item-label {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
}

.complex-swipeable-list__item-name {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #083749;
  margin-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.complex-swipeable-list__item-added {
  margin-left: 2px;
  margin-top: 4px;
  color: #959595;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
